.button{
    position: relative;
}
#magic_button {
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    border-radius: 3px;
    transition: 0.3s;
  }
  #magic_button:hover {
    background: #dbdbdb;
  }
  #magic_button img {
    width: 45px;
  }