*{
    margin: 0;
    padding: 0;

}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: azure;
    margin: 10px 20px;
    padding: 10px 40px;
}
.background{
    background-image: url("https://img.ixbt.site/live/topics/preview/00/04/43/61/4c83e99030.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.blur{
    background: rgba(246, 243, 243, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 50%;
  
}
h1{
    text-align: center;
    font-size:xx-large;
    color: gold;
}
h2{
    text-align: left;
    font-size: x-large;
    color: antiquewhite;
}
.About{
    margin: 20px;
}
p{
    margin: 10px 30px;
    text-align: justify;
}
.head3{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 4rem;
    
    
}
.head3:hover{
    background-color: cyan;
    color: darkblue;
}
a{
    text-decoration: none;
}
a:active{
    color: chocolate;
}
a:hover{
    color: blue;
}